.Construction {
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Content {
  max-width: 596px;
  letter-spacing: -0.2px;
  h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 2.5rem;
  }
  p {
    color: #58585f;
    font-size: large;
  }
  a {
    color: #58585f;
    transition: color 0.1s ease;
  }
  a:active,
  a:hover {
    color: #FFFFFF;
  }
}