@import '../breakpoints';

@mixin Heading2 {
  margin: 0;
  text-transform: none;
  max-width: 38ch;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -.049375rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1.75rem;
  }
}

@mixin Heading5 {
  font-weight: 400;
  text-transform: none;
  max-width: 38ch;
  font-size: 1.25rem;
  line-height: 1.41em;
  letter-spacing: -.01125rem;
  margin: 1.5rem 0;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1rem;
  }
}

@mixin HeadingB {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: .9rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Footer {
  padding: 2rem 0;

  .FooterHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    overflow: auto;
    .FooterContact {
      h2 {
        @include Heading2;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    
      h5 {
        @include Heading5;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    
      a {
        color: inherit;
        transition: all 0.1s ease;
      }
      a:active,
      a:hover {
        color: #58585f;
      }
    
      span {
        @include HeadingB;
        color: #0070f3;
      }
    }
    .FooterSpotify {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .FooterNowPlaying {
        display: block;
        width: 100%;
      }
    }

    @media screen and (max-width: $breakpointMedium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      .FooterSpotify {
        display: flex;
        justify-content: center;
        align-items: center;

        .FooterNowPlaying {
          display: block;
          width: 100%;
        }
      }
    }
  }

  

  .Line {
    margin: 2.5rem 0;
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: 25%;
  }

  .Tagline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
    
    p, a {
      font-size: 12px;
    }

    @media screen and (max-width: $breakpointMedium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }
  .TaglineLeft {
    display: inline-flex;
    justify-content: flex-start;
  }
  .TaglineRight {
    display: inline-flex;
    justify-content: flex-end;
    @media screen and (max-width: $breakpointMedium) {
      justify-content: flex-start;
    }
  }
}