@import '../breakpoints';
@import '../colors';
@import '../mixins';

.CaseIntro {
  padding: 1rem 0;
//   border-bottom: 1px solid $accent2;
  p {
    font-size: 1rem;
    font-weight: 400;
    color: $secondaryText;
    strong {
      font-weight: 500;
      color: $accent9;
    }
  }
  @media screen and (min-width: $breakpointMedium) {
    padding: 4rem 0 4rem 0;
    p {
      text-align: center;
    }
    .CaseIntroTitle {
      @include Grid;
      h1 {
        grid-area: span 1 / span 6;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 3.5rem;
        @media screen and (max-width: $breakpointLarge) {
          font-size: 3rem;
        }
      }
    }
  }
  @media screen and (max-width: $breakpointMedium) {
    p {
      text-align: left;
    }
  }
}

.CaseIntroMetaMobile {
  @media screen and (min-width: $breakpointMedium) {
    display: none;
  }
  @media screen and (max-width: $breakpointMedium) {
    .IndexIntroMeta {
      a {
        margin: 0 0.5em 0 0;
      }
    }
  }
}

.CaseIntroMetaDesktop {
  @media screen and (min-width: $breakpointMedium) {
    @include Grid;
    .IntroSubtitle {
      grid-area: span 1 / span 4;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .IndexIntroSocial {
      grid-area: span 1 / span 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        margin: 0 0 0 0.5em;
      }
    }
  }
  @media screen and (max-width: $breakpointMedium) {
    display: none;
  }
}