@import '../breakpoints';

@mixin Heading2 {
  margin: 0;
  text-transform: none;
  max-width: 38ch;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -.049375rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1.75rem;
  }
}

@mixin Heading5 {
  font-weight: 400;
  text-transform: none;
  max-width: 38ch;
  font-size: 1.25rem;
  line-height: 1.41em;
  letter-spacing: -.01125rem;
  margin: 1.5rem 0;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media screen and (max-width: $breakpointMedium) {
    font-size: 1rem;
  }
}

@mixin HeadingB {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: .9rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Projects {
  padding: 2rem 0;

  h2 {
    @include Heading2;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  h5 {
    @include Heading5;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  a {
    color: inherit;
    transition: all 0.1s ease;
  }
  a:active,
  a:hover {
    color: #58585f;
  }

  span {
    @include HeadingB;
    color: #0070f3;
  }
}

.ProjectsGrid {
  padding: 2.5rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 0rem;
  @media screen and (max-width: $breakpointMedium) {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
  }
}

.ProjectCard {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ProjectCardImage {
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.ProjectCardContent {
  cursor: pointer;
  @media screen and (min-width: $breakpointMedium) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    transition: opacity 0.1s ease;
    span {
      color: white;
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: $breakpointMedium) {
    padding: 1.5rem 0 0.5rem 0;

    h5 {
      @include Heading2;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    span {
      color: black;
      font-size: 12px;
    }
  }
}

.ProjectCardContent:active,
.ProjectCardContent:hover {
  @media screen and (min-width: $breakpointMedium) {
    opacity: 100%;
  }
}