.Projects {
  .GridContainer {
    padding: 1rem 0;
    // background-color: black;
    // color: white;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .GridContainer::-webkit-scrollbar {
    display: none;
  }
}

.Project {
  border-radius: 0.25rem;
  // background: #111111;
  background-clip: content-box, border-box;
  // background-image: linear-gradient(#111111, #111111), linear-gradient(to right, #333333, #333333);
  background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(to right, #EAEAEA, #EAEAEA);
  padding: 1px;
  cursor: pointer;
  transition: background 0.1s ease;
  .Content {
    // background-color: #FAFAFA;
    padding: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: minmax(50px, 1fr);
    gap: 1rem;
    .Image {
      padding: 0.5rem;
      grid-area: span 1;
      display: flex;
      align-items: center;
      svg {
        width: 100%;
        max-height: 3rem;
      }
    }
    .Body {
      grid-area: span 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        // color: #8a8f98;
        color: #7D828C;
      }
    }
  }
}

.Project:hover,
.Project:focus {
  outline: none;
  // background-image: linear-gradient(#111111, #111111),
  //   linear-gradient(to right, #845ef7, #845ef7);
  background-image: linear-gradient(#FFFFFF, #FFFFFF),
    linear-gradient(to right, #7950F7, #7950F7);
}