@import '../breakpoints';
@import '../mixins';

.Showcase {
  padding: 1rem 0;
  @include Grid;
}

.Project {
  grid-area: span 1 / span 6;
  .ProjectInfo {
    h2 {
      font-size: 1.75rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .ProjectImage {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (min-width: $breakpointMedium) {
    @include Grid;
    .ProjectInfo {
      padding: 4rem 0;
      grid-area: span 1 / span 2;
    }
  
    .ProjectImage {
      grid-area: span 1 / span 4;
    }
  }
  @media screen and (min-width: $breakpointSmall) and (max-width: $breakpointMedium) {
    @include Grid;
    .ProjectInfo {
      padding: 2rem 0;
      grid-area: span 1 / span 3;
    }
  
    .ProjectImage {
      grid-area: span 1 / span 3;
    }
  }
  @media screen and (max-width: $breakpointSmall) {
    @include Grid;
    .ProjectInfo {
      padding: 1rem 0 0 0;
      grid-area: span 1 / span 6;
    }
  
    .ProjectImage {
      grid-area: 1 / 1 / 1 / span 6;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}