.Social {
  display: flex;
  justify-content: space-between;
  color: #666;

  svg {
    height: 24px;
    width: 24px;
  }
}

.Twitter {
  a {
    color: currentColor;
  }

  a:active,
  a:hover {
    color: #08A0E9;
  }
}

.GitHub {
  a {
    color: currentColor;
  }

  a:active,
  a:hover {
    color: #24292D;
    @media (prefers-color-scheme: dark) { color: #ecf2f8; }
  }
}

.Instagram {
  a {
    color: currentColor;
  }

  a:active,
  a:hover {
    color: #DD2A7B;
  }
}

.LinkedIn {
  a {
    color: currentColor;
  }

  a:active,
  a:hover {
    color: #1877f2;
  }
}