.TopTracks {
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 3rem 0 0 0;
  vertical-align: baseline;
  transform: translateY(0px);
}

.Track {
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  -webkit-user-drag: element;
  box-sizing: border-box;
  padding: 0 8px;
  vertical-align: baseline;
  user-select: none;
  grid-gap: 16px;
  display: grid;
  border: 1px solid transparent;
  border-radius: 2.5px;
  height: 56px;
  position: relative;
  grid-template-columns: [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
}
.Track:active,
.Track:hover {
  background: #111111
}

.TrackInfo {
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  justify-self: start;
}

.TrackImage {
  line-height: 1.6;
  color: #b3b3b3;
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  -webkit-user-drag: none;
  width: 40px;
  aspect-ratio: auto 40 / 40;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  object-fit: cover;
  object-position: center center;
  user-select: none;
  background-color: #282828;
  flex-shrink: 0;
  margin-right: 16px;
}

.TrackMain {
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 8px;
  display: grid;
  grid-template: "title title" "badges subtitle"/auto 1fr;
  padding-right: 8px;
}

.TrackTitle {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  unicode-bidi: isolate;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  grid-area: title;
  justify-self: start;
}

.TrackArtist {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  grid-area: subtitle;
  grid-column-start: badges;
  color: rgb(179, 179, 179);
}

.TrackAlbum {
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  justify-self: start;
  span {
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    direction: inherit;
    visibility: visible;
    -webkit-user-drag: element;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    touch-action: manipulation;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    user-select: none;
    color: #b3b3b3;
  }
}

.TrackMeta {
  line-height: 1.6;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  grid-column: last;
  justify-self: end;
  color: #fff;
}

.TrackLength {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  direction: inherit;
  visibility: visible;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  -webkit-box-pack: end;
  display: flex;
  font-variant-numeric: tabular-nums;
  justify-content: flex-end;
  width: 4ch;
  color: rgb(179, 179, 179);
}